@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #1f2937;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: #E5e7eb ;
    font-size: 18px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul li {
    margin-left: 20px;
}

.header img {
    max-width: 400px;
}

.header h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header p {
    font-size: 18px;
    color: #E5e7eb;
}

